# Python caches
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env

# macOS system files
.DS_Store

# Ignore large raw datasets (optional)
data/raw/

# Ignore joblib files **except for models/**  
*.joblib
!models/*.pkl
